<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    	
    <wb-module deploy-name="spring-boot-rest-2.5.7">
        		
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        		
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        		
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        		
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        		
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-sources/annotations"/>
        		
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/java"/>
        		
        <property name="context-root" value="spring-boot-rest"/>
        		
        <property name="java-output-path" value="/spring-boot-rest/target/classes"/>
        	
    </wb-module>
    
</project-modules>
